# Task 4: Aggregate Functions and Grouping

This notebook contains:

- Answers to interview questions
- Example SQL queries using aggregate functions and grouping
- Sample dataset creation scripts
- Explanations for each step


## Interview Questions and Answers

1. **What is GROUP BY?**  
   `GROUP BY` is used to group rows sharing a property (e.g., department) so aggregate functions can be applied to each group.

2. **Difference between WHERE and HAVING?**  
   - `WHERE` filters rows before grouping.  
   - `HAVING` filters groups after aggregation.

3. **How does COUNT(*) differ from COUNT(column)?**  
   - `COUNT(*)` counts all rows.  
   - `COUNT(column)` counts only rows where `column` is not NULL.

4. **Can you group by multiple columns?**  
   Yes, you can group by multiple columns by listing them in the `GROUP BY` clause.

5. **What is ROUND() used for?**  
   `ROUND()` rounds numeric values to a specified number of decimal places.

6. **How do you find the highest salary by department?**  
   Using `GROUP BY department` and `MAX(salary)`.

7. **What is the default behavior of GROUP BY?**  
   It aggregates rows into groups based on unique values of the columns specified.

8. **Explain AVG and SUM.**  
   - `AVG()` computes the average of values in a group.
- `SUM()` computes the total.

9. **How to count distinct values?**  
   Use `COUNT(DISTINCT column)`.

10. **What is an aggregate function?**  
    A function that operates on a set of rows and returns a single summary value.

In [ ]:

-- Create employees table
CREATE TABLE employees (
    id INTEGER PRIMARY KEY,
    name TEXT,
    department TEXT,
    salary INTEGER
);

-- Insert sample data
INSERT INTO employees (name, department, salary) VALUES ('Alice', 'HR', 50000);
INSERT INTO employees (name, department, salary) VALUES ('Bob', 'IT', 70000);
INSERT INTO employees (name, department, salary) VALUES ('Charlie', 'HR', 60000);
INSERT INTO employees (name, department, salary) VALUES ('David', 'IT', 80000);
INSERT INTO employees (name, department, salary) VALUES ('Eve', 'Finance', 90000);

In [ ]:

-- Sum of salaries by department
SELECT department, SUM(salary) AS total_salary
FROM employees
GROUP BY department;

-- Count of employees by department
SELECT department, COUNT(*) AS num_employees
FROM employees
GROUP BY department;

-- Average salary by department
SELECT department, AVG(salary) AS avg_salary
FROM employees
GROUP BY department;

-- Departments with average salary greater than 60000
SELECT department, AVG(salary) AS avg_salary
FROM employees
GROUP BY department
HAVING AVG(salary) > 60000;

-- Round average salary to 2 decimal places
SELECT department, ROUND(AVG(salary), 2) AS avg_salary
FROM employees
GROUP BY department;


## README

**Objective:** Use aggregate functions and grouping to summarize data.

**Steps:**

1. Create `employees` table and insert sample data.
2. Execute SQL queries using `SUM`, `COUNT`, `AVG`, `GROUP BY`, and `HAVING`.
3. Review results to understand grouping and aggregation.

**Tools:** SQLite / MySQL / DB Browser for SQLite.